{% extends 'base.html.twig' %}

{% block title %}PDF Craft{% endblock %}


{% block main %}
    <h1>pdf-craft</h1>
    <p>
        PDF Craft vous permet de générer et stocker des fichiers PDF à partir de plusieurs sources.
        <br>
        Tranformez des images, des pages web, des fichiers Word, Excel ou créez des PDF personnalisés en quelques clics et stockez-les dans votre espace personnel.
    </p>

{% endblock %}
