<turbo-frame id="form-result">

    <h1>Vous avez atteint votre limite de PDFs pour aujourd'hui.</h1>
    <p>Si vous voulez générer plus de PDFs, vous pouvez souscrire à une offre supérieure.</p>
    <a href="{{ path('app_home') }}" data-turbo="false">
        <button class="btn btn-primary-color">Changer d'abonnement</button>
    </a>
</turbo-frame>