{% extends 'base.html.twig' %}

{% block title %}Hello PdfController!{% endblock %}

{% block body %}
    <h1>Hello PdfController!</h1>

    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.url) }}

    <button type="submit">Send</button>
    {{ form_end(form) }}
{% endblock %}
